body{
    background-color: #f5f1e9;
}
h1{
    text-align: center;
}

.vazio{
    margin-bottom: 100px;
}

.espacamento{
    margin-top: 50px;
}

.cartao{
    border: 2px solid grey;
    border-radius: 25px;
    width: 100%;
    
}

.imgpatro{
    text-align: center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    height: 80px;
    background-color: black;
}

/*ACANA*/
.imgpatro_arcana{
    text-align: center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    height: 80px;
    background-color: #9b9f9d;
}

.nomepatro{
    text-align: center;
    height: 35px;
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

}

.despatro{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 180px;
    padding: 7px 20px 5px 20px;
    text-align: center;
}


