body{
    background-color: #f5f1e9;
}
h1{
    text-align: center;
}

.espaco{
    margin-bottom: 100px;
}

.espacamento{
    margin-top: 50px;
}

.cartao{
    border: 2px solid grey;
    border-radius: 25px;
    width: 350px;
    height: 350px;
    margin-bottom:10px;
    
}

.imgpatro{
    text-align: center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
   
}

.equipa1{
    text-align: center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    
}
.equipa2{
    text-align: center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    
}

.equipa3{
    text-align: center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    
}

.equipa4{
    text-align: center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;

}

.equipa5{
    text-align: center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}


.nome{
    text-align: center;
    height: 35px;
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.despatro{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 180px;
    padding: 5px 20px 5px 20px;
}

.img1 {
    width: 100%;
 
}

.img3{
    width:500px;
    margin-top:10px;
}

.p1 {
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
}

ul{
    font-size:21px;
}




#air {
    border-bottom: ridge;
    color: rgb(180, 123, 49);
    margin-left: 5%;
    margin-right: 7%;
    margin-top:30px;
    margin-bottom: 30px;
}

#imgcara{
    height: 100px;
    width: 100px;
    margin-bottom:10px;
    margin-top: 5px;
}








@media (max-width:769px){

    .col-md-4{
        margin-bottom: 30px;
    }

}

