#banner{
width: 100%;
height: 100%;
}

#title{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:calc(10px + 2.5vw);
    color:white;
    background-color:rgba(0, 0, 0, 0.5);
    padding-left:1% ;
    padding-right:1% ;
}

.vazio{
    margin-bottom: 2%;
    
}

#title2{
    font-size:calc(8px + 2.5vw) !important; 
}
.imagens{
    width: 60%;

}




