#navimg{
    width: 50%;
}

nav{
    width: 100%;
    overflow: auto;
    background-color: #ffce7b;
    
}

nav ul{
    width: 100%;
    list-style: none;

}

nav li {
    width: 13.5%;
    display: inline-block;
}

nav li a{

    color: black;
    font-size: calc(10px + 2vw);
    text-align:center;
}

li a:hover{
    text-decoration: none;
    color: #ff7847;
}


.navesq{
    margin-left: 150px;
}