#navimg{
    width: 33%;
}
#navimg2{
    width: 100%;
}
.navbar-brand{
    width: 10%;
}

.center{
    align-items: center;
}
nav{
    width: 100%;
    background-color: #ffce7b;
    padding-left: 6% !important;
    
}

nav ul{
    width: 100%;
    list-style: none;

}

nav li {
    width: auto;
    display: inline-block;
}

nav li a{

    color: black;
    font-size: calc(10px + 1vw);
    text-align:center;
}

li a:hover{
    text-decoration: none;
    color: #ff7847;
}


.navesq{
    margin-left: 150px;
}