body{
	background-color: url(fundo2.jpg);
	height: 100%;
	background-position: inherit;
	background-repeat: no-repeat;
	background-size: cover;}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: #0000004d 20px 20px 20px;
}

.col-md-6{
	opacity: 88%;
}

#container{

	margin-top: 20%;
	margin-bottom: 10%;
}

.form{
	margin-right: 30px;
	margin-left: 30px;
}

#apagar{
display: block;
margin-left: 10px;

}

#registar{
	margin-left: 10px;
}



#titulo{
	margin-top: 30px;
	margin-bottom: 20px;
}

.form-control.input-sm#M, #F{
	width: 10px;
}